@{
    ViewBag.Title = "NotFound";
    Layout = "";
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Flor || 404</title>
    <!-- Bootstrap CSS-->
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <!-- Add custom CSS here -->
    <link href="~/Content/Site.css" rel="stylesheet" />
    <!--Favicon-->
    <link rel="shortcut icon" href="~/Images/favicon.ico">
    <!--Meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Flor het cijfer monster is een project voor Howest - Vlaanderen. Deze in opdracht van Elke Gérard.">
    <meta name="author" content="Tim Rijckaert, Alieke Baeke, Lander Arnoys, Matthias Trybou">
</head>
<body>
    <div class="NotFound404">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1>Ik heb de pagina die je zocht echt niet opgegeten.</h1>
        </div>
        <footer>
            <img class="img-responsive" src="~/Images/Logo_Flor_Verbaasd.png" alt="Flor kijkt verbaasd" width="475" height="451" />
        </footer>
    </div>
</body>
</html>

