<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Oefening 1</title>
    <link href="../CSS/bootstrap.css" rel="stylesheet" />
    <link href="../CSS/thema.css" rel="stylesheet" />
</head>
<body>

    <div class="container">

        <div class="row statusBarRow">
            <div class="col-lg-4 .col-xs-6 .col-sm-4 clockContainer">
                <img class="clock" src="../Images/SVG/clock.svg" alt="Clock Image" />
                <h3 class="whiteText">00:30</h3>
            </div>

            <div class="col-lg-4 .col-xs-6 .col-sm-4 levelContainer">
                <h3 class="whiteText" style="text-align:center;">Lvl 1</h3>
            </div>

            <div class="col-lg-4 .col-xs-6 .col-sm-4 btn-close-level">
                <button class="btn btn-danger">X</button>
            </div>
        </div>

        <!-- Level container -->
        <div class="jumbotron levelBodyContainer">
            <h1>Oefening 1</h1>
            <p class="lead">
                <a href="#"><img class="speaker" src="../Images/SVG/speaker.svg" alt="Speaker image" /></a>
                Je zal straks een nummer zien. Plaats dit aantal bloemen terug in het perkje.
            </p>
            <p>
                <button class="btn btn-lg btn-success" type="button">Start met de oefening!</button>
                <button class="btn btn-lg btn-info" type="button">Bekijk een voorbeeld</button>
            </p>


        </div>
    </div> <!-- /container -->



    <script src="../Scripts/knockout-3.1.0.js"></script>
    <script src="../Scripts/jquery-1.9.1.js"></script>
    <script src="../Scripts/bootstrap.js"></script>
    <script src="../Scripts/bootstrap.min.js"></script>
</body>
</html>
